*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: bisque;
}

header{
    display: flex;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-size: 25px;
}

#ingresos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

#ingresos button{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

#resultados{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

#resultados button{
    font-size: 20px;
    border-radius: 15px;
}

#final{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

#final button{
    font-size: 20px;
    border-radius: 15px;
}
#tabla{
    text-align: center;
}

#tabla p{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    display: flex;
    text-align: center;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    font-size: 15px;
}